In [52]:
import pandas as pd
import missingno as msno

In [26]:
df = pd.read_csv('C:/Users/Bader Ale/Desktop/CC_R20_P08_v10_D18_WWDSE_Cond.csv')

In [38]:
df.head(10)

,Bene_Geo_Lvl,Bene_Geo_Desc,Bene_Geo_Cd,Bene_Age_Lvl,Bene_Demo_Lvl,Bene_Demo_Desc,Bene_Cond,Prvlnc,Tot_Mdcr_Stdzd_Pymt_PC,Tot_Mdcr_Pymt_PC,Hosp_Readmsn_Rate,ER_Visits_Per_1000_Benes
0,State,Alabama,1.0,All,All,All,Alcohol Abuse,0.0188,25102.3405,23348.6039,0.2413,2184.7557
1,State,Alabama,1.0,65+,Dual Status,Medicare Only,Alcohol Abuse,0.0118,NaN,NaN,NaN,NaN
2,State,Alabama,1.0,<65,Dual Status,Medicare Only,Alcohol Abuse,0.0320,NaN,NaN,NaN,NaN
3,State,Alabama,1.0,All,Dual Status,Medicare Only,Alcohol Abuse,0.0147,NaN,NaN,NaN,NaN
4,State,Alabama,1.0,65+,Dual Status,Medicare and Medicaid,Alcohol Abuse,0.0238,NaN,NaN,NaN,NaN
5,State,Alabama,1.0,<65,Dual Status,Medicare and Medicaid,Alcohol Abuse,0.0465,NaN,NaN,NaN,NaN
6,State,Alabama,1.0,All,Dual Status,Medicare and Medicaid,Alcohol Abuse,0.0347,NaN,NaN,NaN,NaN
7,State,Alabama,1.0,65+,Sex,Female,Alcohol Abuse,0.0058,NaN,NaN,NaN,NaN
8,State,Alabama,1.0,<65,Sex,Female,Alcohol Abuse,0.0235,NaN,NaN,NaN,NaN
9,State,Alabama,1.0,All,Sex,Female,Alcohol Abuse,0.0092,NaN,NaN,NaN,NaN

In [43]:
# Checking for duplicated Values
df.duplicated().value_counts()

False    236124
dtype: int64

In [80]:
# Selecting only Florida and saving as new dataframe
df_florida= df[df['Bene_Geo_Desc'] == 'Florida']

In [47]:
# Checking for missing values
df.isnull().sum()

Bene_Geo_Lvl                     0
Bene_Geo_Desc                    0
Bene_Geo_Cd                   2520
Bene_Age_Lvl                     0
Bene_Demo_Lvl                    0
Bene_Demo_Desc                   0
Bene_Cond                        0
Prvlnc                       43587
Tot_Mdcr_Stdzd_Pymt_PC       71773
Tot_Mdcr_Pymt_PC             71773
Hosp_Readmsn_Rate           235014
ER_Visits_Per_1000_Benes    234992
dtype: int64